.nav-bar{
    width: 100%;
    padding: 1.25rem 0 1.25rem 0;
    color: #fff;
    /* color: #000; */
    background: #0d1321;
    /* color: rgb(13, 19, 33); */
    box-shadow: 0 2px 2px -2px rgba(13,19,33,.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    width: 90vw;
    max-width: 1120px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none!important;
    color: #fff;
    cursor: pointer;
}


.nav i{
    font-size: 40px;
    cursor: pointer;
}
.nav-bar .nav .nav-links ul li{
    display: inline;
    padding: 35px;
    color: #ffffff;
    font-size: 18px;
} 
.nav-bar ul li a{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: all 600ms ease-in-out;
}
.nav-bar ul li a:hover{
    text-decoration: underline;
}

.nav-bar ul li a.active{
  text-decoration: underline;
}
.nav-links{
    display: none;
}
.nav-links ul li:nth-child(1){
    color: #fff !important;
}
.nav .icons{
    display: flex;
}
.nav .icons i{
    /* display: inline-block; */
    font-size: 24px;
    padding-left: 30px
}
/* .nav .icons i:hover{
    cursor: pointer;
} */

.menu-icon{
  display: block !important;
}


.nav-link {
  background: #0d1321;
  display: block;
  text-align: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 1px;
  padding: 1rem 0;
  /* border-top: 1px solid var(--grey-500); */
  transition: 0.3s ease-in-out all;
  text-decoration: none;
}

.side-nav{
  height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
    z-index: 5;
}
/* .hide-side{
  height: 0;
} */

.show-side{
    height: 221px;
    transition: height 0.4s ease-in-out;
    /* overflow: visible; */
}
@media screen and (min-width: 992px){
    .nav-links{
        display: block;
    }
.menu-icon{
  display: none !important;
}
}

/* @media screen and (min-width: 992px) {
  .nav-bar {
    /* height: 6rem; 
    padding: 2rem 0;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  /* .nav-header {
    padding: 0;
    margin-right: 2rem;
    height: auto;
  } */

  /* .nav-btn {
    display: none;
  } */
  /* .nav-links {
    height: auto !important;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .nav-link {
    padding: 0;
    border-top: none;
    margin-right: 1rem;
    font-size: 1rem;
  } */
  /* .contact-link {
    margin-right: 0;
    margin-left: auto;
  } 
} */
